.id {font-family: "id";}
@font-face {
  font-family: "id";
  src: url("https://creative-community.space/coding/fontbook/family/"),
       url("https://creative-community.space/coding/fontbook/family/");
}

.MSMincho {font-family: "MS Mincho";}
@font-face {
  font-family: "MS Mincho";
  src: url("https://creative-community.space/coding/fontbook/family/MS Mincho.ttf");
}
.MSGothic {font-family: "MS Gothic";}
@font-face {
  font-family: "MS Gothic";
  src: url("https://creative-community.space/coding/fontbook/family/MS Gothic.ttf");
}
.GoodGlyphs {font-family: "GoodGlyphs";}
@font-face {
  font-family: "GoodGlyphs";
  src: url("https://creative-community.space/coding/fontbook/family/GoodGlyphs-No1.woff"),;
}
.Garamondt {font-family: "Garamondt";}
@font-face {
  font-family: "Garamondt";
  src: url("https://creative-community.space/coding/fontbook/family/MS Mincho.ttf");
}
.Slash {font-family: "Slash";}
@font-face {
  font-family: "Slash";
  src: url("https://creative-community.space/coding/fontbook/family/Slash-Standard.otf");
}
.VioletSans {font-family: "VioletSans";}
@font-face {
  font-family: "VioletSans";
  src: url("https://creative-community.space/coding/fontbook/family/VioletSans-Regular.ttf");
}
.emotional {font-family: "emotional";}
@font-face {
  font-family: "emotional";
  src: url("https://creative-community.space/coding/fontbook/family/emotional-VF.ttf");
}
.Jabin-Typeface {font-family: "Jabin-Typeface";}
@font-face {
  font-family: "Jabin-Typeface";
  src: url("https://creative-community.space/coding/fontbook/family/Jabin-Typeface.ttf");
}
.Typoliner {font-family: "Typoliner";}
@font-face {
  font-family: "Typoliner";
  src: url("https://creative-community.space/coding/fontbook/family/Typoliner-RW-Light.ttf");
}
.RealMagicPersonalUse {font-family: "RealMagicPersonalUse";}
@font-face {
  font-family: "RealMagicPersonalUse";
  src: url("https://creative-community.space/coding/fontbook/family/RealMagicPersonalUse-GOnaD.otf");
}
.RoashePersonalUse {font-family: "RoashePersonalUse";}
@font-face {
  font-family: "RoashePersonalUse";
  src: url("https://creative-community.space/coding/fontbook/family/RoashePersonalUse-jEa4M.otf");
}
.13Inka {font-family: "13Inka";}
@font-face {
  font-family: "13Inka";
  src: url("https://creative-community.space/coding/fontbook/family/13Inka-K782y.ttf");
}
.Etiquette {font-family: "Etiquette";}
@font-face {
  font-family: "Etiquette";
  src: url("https://creative-community.space/coding/fontbook/family/Etiquette-2OGXW.ttf");
}
.Flumberywhitedemo {font-family: "Flumberywhitedemo";}
@font-face {
  font-family: "Flumberywhitedemo";
  src: url("https://creative-community.space/coding/fontbook/family/Flumberywhitedemo-qZAL1.otf");
}
.Astonish {font-family: "Astonish";}
@font-face {
  font-family: "Astonish";
  src: url("https://creative-community.space/coding/fontbook/family/Astonish-d9j76.otf");
}
.Hunterland {font-family: "Hunterland";}
@font-face {
  font-family: "Hunterland";
  src: url("https://creative-community.space/coding/fontbook/family/Hunterland-K78lo.ttf");
}
.BrighterMiraclesPersonalUse {font-family: "BrighterMiraclesPersonalUse";}
@font-face {
  font-family: "BrighterMiraclesPersonalUse";
  src: url("https://creative-community.space/coding/fontbook/family/BrighterMiraclesPersonalUse-ax5Bm.otf");
}
.Birthright {font-family: "Birthright";}
@font-face {
  font-family: "Birthright";
  src: url("https://creative-community.space/coding/fontbook/family/Birthright-WyAYO.ttf");
}
.AnthoniSifnature {font-family: "AnthoniSifnature";}
@font-face {
  font-family: "AnthoniSifnature";
  src: url("https://creative-community.space/coding/fontbook/family/AnthoniSifnature-YzKqO.otf");
}
.RoselinaEllis {font-family: "RoselinaEllis";}
@font-face {
  font-family: "RoselinaEllis";
  src: url("https://creative-community.space/coding/fontbook/family/RoselinaEllis-lgpxq.otf");
}
.BlackMatteo {font-family: "BlackMatteo";}
@font-face {
  font-family: "BlackMatteo";
  src: url("https://creative-community.space/coding/fontbook/family/BlackMatteo-w1Wo9.otf");
}
.JSPRDISPLAY {font-family: "JSPRDISPLAY";}
@font-face {
  font-family: "JSPRDISPLAY";
  src: url("https://creative-community.space/coding/fontbook/family/JSPRDISPLAY_2021.otf");
}
.Heritage-Display {font-family: "Heritage-Display";}
@font-face {
  font-family: "Heritage-Display";
  src: url("https://creative-community.space/coding/fontbook/family/Heritage-Display.otf");
}
.milkman {font-family: "milkman";}
@font-face {
  font-family: "milkman";
  src: url("https://creative-community.space/coding/fontbook/family/milkman.ttf");
}
.Avara {font-family: "Avara";}
@font-face {
  font-family: "Avara";
  src: url("https://creative-community.space/coding/fontbook/family/Avara-Black.ttf");
}
.Pencerio {font-family: "Pencerio";}
@font-face {
  font-family: "Pencerio";
  src: url("https://creative-community.space/coding/fontbook/family/Pencerio-Hairline.ttf");
}
.Pecita {font-family: "Pecita";}
@font-face {
  font-family: "Pecita";
  src: url("https://creative-community.space/coding/fontbook/family/Pecita.otf");
}
.hose-rounded {font-family: "hose-rounded";}
@font-face {
  font-family: "hose-rounded";
  src: url("https://creative-community.space/coding/fontbook/family/hose-rounded.ttf");
}
.thumb-new {font-family: "thumb-new";}
@font-face {
  font-family: "thumb-new";
  src: url("https://creative-community.space/coding/fontbook/family/thumb-new.ttf");
}
.energized-camera {font-family: "energized-camera";}
@font-face {
  font-family: "energized-camera";
  src: url("https://creative-community.space/coding/fontbook/family/energized-camera.ttf");
}
.tiger-neo-grotesque {font-family: "tiger-neo-grotesque";}
@font-face {
  font-family: "tiger-neo-grotesque";
  src: url("https://creative-community.space/coding/fontbook/family/tiger-neo-grotesque.ttf");
}
.AttractiveMouthDisplay {font-family: "AttractiveMouthDisplay";}
@font-face {
  font-family: "AttractiveMouthDisplay";
  src: url("https://creative-community.space/coding/fontbook/family/AttractiveMouthDisplay.ttf");
}
.GivingArithmeticBlackletter {font-family: "GivingArithmeticBlackletter";}
@font-face {
  font-family: "GivingArithmeticBlackletter";
  src: url("https://creative-community.space/coding/fontbook/family/GivingArithmeticBlackletter.ttf");
}
.TextureNew {font-family: "TextureNew";}
@font-face {
  font-family: "TextureNew";
  src: url("https://creative-community.space/coding/fontbook/family/TextureNew.ttf");
}
.Section {font-family: "Section";}
@font-face {
  font-family: "Section";
  src: url("https://creative-community.space/coding/fontbook/Section-0.otf");
}
.TCA {font-family: "TCA";}
@font-face {
  font-family: "TCA";
  src: url("https://creative-community.space/coding/fontbook/TCA.otf");
}
.Fall {font-family: "Fall";}
@font-face {
  font-family: "Fall";
  src: url("https://creative-community.space/coding/fontbook/family/PF-FontBuilder-fall.ttf");
}
.Unknown {font-family: "Unknown";}
@font-face {
  font-family: "Unknown";
  src: url("https://creative-community.space/coding/fontbook/family/Unknown-RND.ttf");
}
.kaerukaeru {font-family: "kaerukaeru";}
@font-face {
  font-family: "kaerukaeru";
  src: url("https://creative-community.space/coding/fontbook/family/kaerukaeru-Regular.otf");
}
.MESS {font-family: "MESS";}
@font-face {
  font-family: "MESS";
  src: url("https://creative-community.space/coding/fontbook/family/Mess.otf");
}
.Typefesse {font-family: "Typefesse";}
@font-face {
  font-family: "Typefesse";
  src: url("https://creative-community.space/coding/fontbook/family/Typefesse_Claire-Obscure.otf");
}
.Saintjean {font-family: "Saintjean";}
@font-face {
  font-family: "Saintjean";
  src: url("https://creative-community.space/coding/fontbook/family/Saintjean-Regular.otf");
}

.GreatVibes {font-family: "GreatVibes";}
@font-face {
  font-family: "GreatVibes";
  src: url("https://creative-community.space/coding/fontbook/family/GreatVibes-Regular.ttf");
}

.Gill Sans {font-family: "Gill Sans";}

.flower {font-family: "flower";}
@font-face {
  font-family: "flower";
  src: url("https://creative-community.space/coding/fontbook/family/aa/flower.ttf");
}

.secretcrane {font-family: "secretcrane";}
@font-face {
  font-family: "secretcrane";
  src: url("https://creative-community.space/coding/fontbook/family/aa/secretcrane.ttf");
}

.aoyagisosekifont {font-family: "aoyagisosekifont";}
@font-face {
  font-family: "aoyagisosekifont";
  src: url("https://creative-community.space/coding/fontbook/family/aoyagisosekifont.otf");
}
.kouzansousho {font-family: "kouzansousho";}
@font-face {
  font-family: "kouzansousho";
  src: url("https://creative-community.space/coding/fontbook/family/kouzansousho.otf");
}
.ipag {font-family: "ipag";}
@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/coding/fontbook/family/IPA/ipag.ttf");
}
.ipagp {font-family: "ipagp";}
@font-face {
  font-family: "ipagp";
  src: url("https://creative-community.space/coding/fontbook/family/IPA/ipagp.ttf");
}
.ipam {font-family: "ipam";}
@font-face {
  font-family: "ipam";
  src: url("https://creative-community.space/coding/fontbook/family/IPA/ipam.ttf");
}
.ipamp {font-family: "ipamp";}
@font-face {
  font-family: "ipamp";
  src: url("https://creative-community.space/coding/fontbook/family/IPA/ipamp.ttf");
}
.ipaexg {font-family: "ipaexg";}
@font-face {
  font-family: "ipaexg";
  src: url("https://creative-community.space/coding/fontbook/family/IPAex/ipaexg.ttf");
}
.ipaexm {font-family: "ipaexm";}
@font-face {
  font-family: "ipaexm";
  src: url("https://creative-community.space/coding/fontbook/family/IPAex/ipaexm.ttf");
}
.misaki_mincho {font-family: "misaki_mincho";}
@font-face {
  font-family: "misaki_mincho";
  src: url("https://creative-community.space/coding/fontbook/family/misaki_mincho.ttf");
}
.misaki_gothic {font-family: "misaki_gothic";}
@font-face {
  font-family: "misaki_gothic";
  src: url("https://creative-community.space/coding/fontbook/family/misaki_gothic.ttf");
}
.misaki_gothic_2nd {font-family: "misaki_gothic_2nd";}
@font-face {
  font-family: "misaki_gothic_2nd";
  src: url("https://creative-community.space/coding/fontbook/family/misaki_gothic_2nd.ttf");
}

.Cobra {font-family: "Cobra";}
@font-face {
  font-family: "Cobra";
  src: url("https://creative-community.space/coding/fontbook/family/CobraFont.otf"),
       url("https://creative-community.space/coding/fontbook/family/CobraFont.ttf");
}

.Commando {font-family: "Commando";}
@font-face {
  font-family: "Commando";
  src: url("https://creative-community.space/coding/fontbook/family/CommandoFont.otf"),
       url("https://creative-community.space/coding/fontbook/family/CommandoFont.ttf");
}

.JNRfont {font-family: "JNRfont";}
@font-face {
  font-family: "JNRfont";
  src: url("https://creative-community.space/coding/fontbook/family/JNRfont_n.ttf"),
       url("https://creative-community.space/coding/fontbook/family/JNRfont_s.ttf");
}

.yokohama {font-family: "yokohama";}
@font-face {
  font-family: "yokohama";
  src: url("https://creative-community.space/coding/fontbook/family/imagine YOKOHAMA.otf");
}

.DiaPro {font-family: "DiaPro";}
@font-face {
  font-family: "DiaPro";
  src: url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.eot"),
       url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.otf"),
       url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.woff");
}

.Wagemut {font-family: "Wagemut";}
@font-face {
  font-family: "Wagemut";
  src: url("https://creative-community.space/coding/fontbook/family/Wagemut/Wagemut_Regular.otf");
}
.Wagemut_Ephemer {font-family: "Wagemut_Ephemer";}
@font-face {
  font-family: "Wagemut_Ephemer";
  src: url("https://creative-community.space/coding/fontbook/family/Wagemut/Wagemut_Ephemer.otf");
}
.Wagemut_Outline {font-family: "Wagemut_Outline";}
@font-face {
  font-family: "Wagemut_Outline";
  src: url("https://creative-community.space/coding/fontbook/family/Wagemut/Wagemut_Outline.otf");
}
.Kristina {font-family: "Kristina";}
@font-face {
  font-family: "Kristina";
  src: url("https://creative-community.space/coding/fontbook/family/Kristina.Bold.otf"),
       url("https://creative-community.space/coding/fontbook/family/Kristina.Fine.otf");
}
.AUTHENTICSans {font-family: "AUTHENTICSans";}
@font-face {
  font-family: "AUTHENTICSans";
  src: url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-60.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-90.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-130.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-150.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-Condensed-60.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-Condensed-90.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-Condensed-130.otf"),
    url("https://creative-community.space/coding/fontbook/family/authentic_sans/AUTHENTICSans-Condensed-150.otf");
}

.TimesDot {font-family: "TimesDot";}
@font-face {
  font-family: "TimesDot";
  src: url("https://creative-community.space/coding/fontbook/family/times-dot/TimesDotRom.otf");
}
.TimesDot {font-family: "TimesDot";}
@font-face {
  font-family: "TimesDot-Italic";
  src: url("https://creative-community.space/coding/fontbook/family/times-dot/TimesDot-Italic.otf");
}
.TimesDot {font-family: "TimesDot";}
@font-face {
  font-family: "TimesDotBol";
  src: url("https://creative-community.space/coding/fontbook/family/times-dot/TimesDotBol.otf");
}

.floraandfauna {font-family: "floraandfauna";}
@font-face {
  font-family: "floraandfauna";
  src: url("https://creative-community.space/coding/fontbook/family/floraandfauna.otf");
}
.inscrutable {font-family: "inscrutable";}
@font-face {
  font-family: "inscrutable";
  src: url("https://creative-community.space/coding/fontbook/family/inscrutable.otf");
}
.Kipper {font-family: "Kipper";}
@font-face {
  font-family: "Kipper";
  src: url("https://creative-community.space/coding/fontbook/family/Kipper.otf");
}
.NewYork {font-family: "NewYork";}
@font-face {
  font-family: "NewYork";
  src: url("https://creative-community.space/coding/fontbook/family/NewYork.otf");
}
.Orchard {font-family: "Orchard";}
@font-face {
  font-family: "Orchard";
  src: url("https://creative-community.space/coding/fontbook/family/Orchard-Linear.otf");
}
.Immortalist {font-family: "Immortalist";}
@font-face {
  font-family: "Immortalist";
  src: url("https://creative-community.space/coding/fontbook/family/Immortalist-Light.otf");
}
.Quarantype {font-family: "Quarantype";}
@font-face {
  font-family: "Quarantype";
  src: url("https://creative-community.space/coding/fontbook/family/Quarantype-Regular.otf");
}
.Quarantype {font-family: "Quarantype";}
@font-face {
  font-family: "QuarantypeOblique";
  src: url("https://creative-community.space/coding/fontbook/family/Quarantype-Oblique.otf");
}
.SFCompact {font-family: "SF Compact";}
@font-face {
  font-family: "SF Compact";
  src: url("https://creative-community.space/coding/fontbook/family/SF-Compact-Text-Regular.otf");
}
.SFUI {font-family: "SF UI";}
@font-face {
  font-family: "SF UI";
  src: url("https://creative-community.space/coding/fontbook/family/SF-UI-Display-Regular.otf");
}
