/* https://verygois.github.io/fontbook/ */

@font-face {
  font-family: "MS Gothic";
  src: url("../family/MSGothic.ttf");
}

.MSGothic {
  font-family: "MS Gothic", sans-serif;
}

@font-face {
  font-family: "MS Mincho";
  src: url("../family/MSMincho.ttf");
}

.MSMincho {
  font-family: "MS Mincho", serif;
}

@font-face {
  font-family: "San Francisco";
  src: url("../family/SF/Compact-Text-Regular.otf"),
    url("../family/SF/UI-Display-Regular.otf");
}

.SFCompact {
  font-family: "San Francisco", sans-serif;
}

@font-face {
  font-family: "New York";
  src: url("../family/NewYork.otf");
}

.NewYork {
  font-family: "New York", serif;
}

@font-face {
  font-family: "Apple Chancery";
  src: url("../family/apple-chancery.ttf");
}

.apple-chancery {
  font-family: "Apple Chancery", cursive;
}

@font-face {
  font-family: "Great Vibes";
  src: url("../family/GFonts/GreatVibes-Regular.ttf");
}

.GreatVibes {
  font-family: "Great Vibes", cursive;
}

@font-face {
  font-family: "IPA Mincho";
  src: url("../family/IPA/ipamp.ttf"),
    url("../family/IPA/ipam.ttf");
}

.ipam {
  font-family: "IPA Mincho", serif;
}

@font-face {
  font-family: "IPAexゴシック";
  src: url("../family/IPAex/ipaexg.ttf");
}

.ipaexg {
  font-family: "IPAexゴシック", sans-serif;
}

@font-face {
  font-family: "ProductSans";
  src: url("../family/ProductSans-Regular.ttf");
}

.ProductSans {
  font-family: "ProductSans", sans-serif;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("../family/AmazonEmber/Amazon-Ember-Medium.ttf"),
    url("../family/AmazonEmber/Amazon-Ember-MediumItalic.ttf"),
    url("../family/AmazonEmber/AmazonEmber_Rg.ttf"),
    url("../family/AmazonEmber/AmazonEmber_RgIt.ttf"),
    url("../family/AmazonEmber/AmazonEmber_Bd.ttf"),
    url("../family/AmazonEmber/AmazonEmber_BdIt.ttf"),
    url("../family/AmazonEmber/AmazonEmber_Lt.ttf"),
    url("../family/AmazonEmber/AmazonEmber_LtIt.ttf");
}

.AmazonEmber {
  font-family: "AmazonEmber", sans-serif;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("../family/line/WOFF2/LINESeedJP_OTF_Rg.woff2"),
    url("../family/line/WOFF2/LINESeedJP_OTF_Th.woff2"),
    url("../family/line/WOFF2/LINESeedJP_OTF_Eb.woff2"),
    url("../family/line/WOFF2/LINESeedJP_OTF_Bd.woff2"),
    url("../family/line/EOT/LINESeedJP_TTF_Rg.eot"),
    url("../family/line/EOT/LINESeedJP_TTF_Th.eot"),
    url("../family/line/EOT/LINESeedJP_TTF_Eb.eot"),
    url("../family/line/EOT/LINESeedJP_TTF_Bd.eot");
}

.seed {
  font-family: "LINE Seed JP", sans-serif;
}

@font-face {
  font-family: "IBM Plex";
  src: url("../family/IBM-Plex-Mono/Medium-Latin1.woff2"),
    url("../family/IBM-Plex-Mono/Medium-Latin2.woff2"),
    url("../family/IBM-Plex-Mono/Medium-Latin3.woff2"),
    url("../family/IBM-Plex-Mono/Medium-Pi.woff2");
}

.IBMPlex {
  font-family: "IBM Plex", monospace;
}

@font-face {
  font-family: "Times Dot";
  src: url("../family/times-dot/TimesDotRom.otf"),
    url("../family/times-dot/TimesDotBol.otf"),
    url("../family/times-dot/TimesDot-Italic.otf");
}

.TimesDot {
  font-family: "Times Dot", serif;
}

@font-face {
  font-family: "AUTHENTIC Sans";
  src: url("../family/authentic_sans/AUTHENTICSans-60.otf"),
    url("../family/authentic_sans/AUTHENTICSans-90.otf"),
    url("../family/authentic_sans/AUTHENTICSans-90.woff"),
    url("../family/authentic_sans/AUTHENTICSans-90.woff2");
}

.AUTHENTICSans {
  font-family: "AUTHENTIC Sans", sans-serif;
}

@font-face {
  font-family: "Din";
  src: url("../family/din/din1451alt.ttf"),
    url("../family/din/din1451alt_G.ttf");
}

.Din {
  font-family: "Din", sans-serif;
}

@font-face {
  font-family: "TCA";
  src: url("../family/brycewilner/TCA.otf");
}

.TCA {
  font-family: "TCA", monospace;
}

@font-face {
  font-family: "Section";
  src: url("../family/brycewilner/Section-0.otf"),
    url("../family/brycewilner/Section-90.otf"),
    url("../family/brycewilner/Section-180.otf"),
    url("../family/brycewilner/Section-270.otf");
}

.Section {
  font-family: "Section", fantasy;
}

@font-face {
  font-family: "Standard";
  src: url("../family/brycewilner/standard-book.otf"),
    url("../family/brycewilner/standard-book-italic.otf"),
    url("../family/brycewilner/standard-bold.otf"),
    url("../family/brycewilner/standard-bold-italic.otf");
}

.Standard {
  font-family: "Standard", sans-serif;
}

@font-face {
  font-family: "Avara";
  src: url("../family/Avara-Black.ttf");
}

.Avara {
  font-family: "Avara", serif;
}

@font-face {
  font-family: "DiaPro";
  src: url("../family/DiaPro/DiaPro-Regular.eot"),
    url("../family/DiaPro/DiaPro-Regular.otf"),
    url("../family/DiaPro/DiaPro-Regular.woff");
}

.DiaPro {
  font-family: "DiaPro", sans-serif;
}

@font-face {
  font-family: "JNRfont";
  src: url("../family/JNRfont/JNRfont_n.ttf"),
    url("../family/JNRfont/JNRfont_s.ttf");
}

.JNRfont {
  font-family: "JNRfont", sans-serif;
}

@font-face {
  font-family: "Kikai Chokoku";
  src: url("../family/ki-cho-jis/KikaiChokokuJIS-Md.otf"),
    url("../family/ki-cho-jis/KikaiChokokuJIS-CnKn.otf"),
    url("../family/ki-cho-jis/KikaiChokokuJIS-XCnKn.otf");
}

.Kikai {
  font-family: "Kikai Chokoku", sans-serif;
}

@font-face {
  font-family: "Cobra";
  src: url("../family/Cobra/CobraFont.otf"),
    url("../family/Cobra/CobraFont.ttf");
}

.Cobra {
  font-family: "Cobra", sans-serif;
}

@font-face {
  font-family: "Commando";
  src: url("../family/Commando/CommandoFont.otf"),
    url("../family/Commando/CommandoFont.ttf");
}

.Commando {
  font-family: "Commando", sans-serif;
}

@font-face {
  font-family: "misaki_gothic";
  src: url("../family/misaki/misaki_gothic_2nd.ttf"),
    url("../family/misaki/misaki_gothic.ttf");
}

.misaki_gothic {
  font-family: "misaki_gothic", sans-serif;
}

@font-face {
  font-family: "imagine YOKOHAMA";
  src: url("../family/imagineYOKOHAMA.otf");
}

.yokohama {
  font-family: "imagine YOKOHAMA", sans-serif;
}

@font-face {
  font-family: "kouzansousho";
  src: url("../family/musashi/kouzansousho.otf");
}

.kouzansousho {
  font-family: "kouzansousho", cursive;
}

@font-face {
  font-family: "aoyagisoseki";
  src: url("../family/musashi/aoyagisosekifont.otf");
}

.aoyagisoseki {
  font-family: "aoyagisoseki", cursive;
}

@font-face {
  font-family: "inscrutable";
  src: url("../family/inscrutable.otf");
}

.inscrutable {
  font-family: "inscrutable", cursive;
}

@font-face {
  font-family: 'computersnormal';
  src: url("../family/computers/computers_complete-webfont.woff2"),
    url("../family/computers/computers_complete-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

.computers {
  font-family: "computersnormal", cursive;
}

@font-face {
  font-family: "Slash-Standard";
  src: url("../family/roryking/Slash-Standard.otf"),
    url("../family/");
}

.Slash-Standard {
  font-family: "Slash-Standard", fantasy;
}

@font-face {
  font-family: "Immortalist";
  src: url("../family/roryking/Immortalist-Light.otf");
}

.Immortalist {
  font-family: "Immortalist", cursive;
}

@font-face {
  font-family: "Orchard Linear";
  src: url("../family/roryking/Orchard-Linear.otf");
}

.Orchard {
  font-family: "Orchard Linear", cursive;
}

@font-face {
  font-family: "fa_gugpzswuje";
  src: url("../family/fullauto/FA_GUGPZSWUJE.ttf");
}

.fa_gugpzswuje {
  font-family: "fa_gugpzswuje", fantasy;
}

@font-face {
  font-family: "fa_ajfahjveyp";
  src: url("../family/fullauto/FA_AJFAHJVEYP.ttf");
}

.fa_ajfahjveyp {
  font-family: "fa_ajfahjveyp", fantasy;
}

@font-face {
  font-family: "fa_ekpalxaiox";
  src: url("../family/fullauto/FA_EKPALXAIOX.ttf");
}

.fa_ekpalxaiox {
  font-family: "fa_ekpalxaiox", fantasy;
}

@font-face {
  font-family: "fa_mwrdfpijmh";
  src: url("../family/fullauto/FA_MWRDFPIJMH.ttf");
}

.fa_mwrdfpijmh {
  font-family: "fa_mwrdfpijmh", fantasy;
}

@font-face {
  font-family: "fa_dcbmgxvycn";
  src: url("../family/fullauto/FA_DCBMGXVYCN.ttf");
}

.fa_dcbmgxvycn {
  font-family: "fa_dcbmgxvycn", fantasy;
}

@font-face {
  font-family: "fa_lfqexglclc";
  src: url("../family/fullauto/FA_LFQEXGLCLC.ttf");
}

.fa_lfqexglclc {
  font-family: "fa_lfqexglclc", fantasy;
}

@font-face {
  font-family: "fa_umguksotan";
  src: url("../family/fullauto/FA_UMGUKSOTAN.ttf");
}

.fa_umguksotan {
  font-family: "fa_umguksotan", fantasy;
}

@font-face {
  font-family: "fa_gwmzswkmko";
  src: url("../family/fullauto/FA_GWMZSWKMKO.ttf");
}

.fa_gwmzswkmko {
  font-family: "fa_gwmzswkmko", fantasy;
}

@font-face {
  font-family: "fa_kjnzeiiuul";
  src: url("../family/fullauto/FA_KJNZEIIUUL.ttf");
}

.fa_kjnzeiiuul {
  font-family: "fa_kjnzeiiuul", fantasy;
}

@font-face {
  font-family: "fa_himraikxwg";
  src: url("../family/fullauto/FA_HIPSFXAQGN.ttf");
}

.fa_himraikxwg {
  font-family: "fa_himraikxwg", fantasy;
}

@font-face {
  font-family: "fa_iaxvoqocgd";
  src: url("../family/fullauto/FA_IAXVOQOCGD.ttf");
}

.fa_iaxvoqocgd {
  font-family: "fa_iaxvoqocgd", fantasy;
}

@font-face {
  font-family: "Kristina";
  src: url("../family/Kristina/Kristina-Bold.otf");
}

.Kristina {
  font-family: "Kristina", cursive;
}

@font-face {
  font-family: "Pecita";
  src: url("../family/Pecita.otf");
}

.pecita {
  font-family: "Pecita", sans-serif;
}

@font-face {
  font-family: "emotional";
  src: url("../family/emotional/emotional-VF.ttf");
}

.emotional {
  font-family: "emotional", fantasy;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("../family/uncut/sans/UncutSans-Variable.ttf"),
    url("../family/uncut/sans/UncutSans-Light.otf"),
    url("../family/uncut/sans/UncutSans-LightItalic.otf"),
    url("../family/uncut/sans/UncutSans-Medium.otf"),
    url("../family/uncut/sans/UncutSans-MediumItalic.otf"),
    url("../family/uncut/sans/UncutSans-Regular.otf"),
    url("../family/uncut/sans/UncutSans-RegularItalic.otf"),
    url("../family/uncut/sans/UncutSans-Book.otf"),
    url("../family/uncut/sans/UncutSans-BookItalic.otf"),
    url("../family/uncut/sans/UncutSans-Bold.otf"),
    url("../family/uncut/sans/UncutSans-BoldItalic.otf"),
    url("../family/uncut/sans/UncutSans-Semibold.otf"),
    url("../family/uncut/sans/UncutSans-SemiboldItalic.otf");
}

.uncut-sans {
  font-family: "Uncut Sans", sans-serif;
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../family/GFonts/ZenKakuGothicNew/ZenKakuGothicNew-Regular.ttf"),
    url("../family/GFonts/ZenKakuGothicNew/ZenKakuGothicNew-Medium.ttf"),
    url("../family/GFonts/ZenKakuGothicNew/ZenKakuGothicNew-Black.ttf"),
    url("../family/GFonts/ZenKakuGothicNew/ZenKakuGothicNew-Bold.ttf"),
    url("../family/GFonts/ZenKakuGothicNew/ZenKakuGothicNew-Light.ttf");
}

.ZenKakuGothicNew {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

@font-face {
  font-family: "Milkman";
  src: url("../family/uncut/milkman.ttf");
}

.milkman {
  font-family: "Milkman", sans-serif;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../family/uncut/instrument-serif/InstrumentSerif-Regular.otf"),
    url("../family/uncut/instrument-serif/InstrumentSerif-Regular.ttf"),
    url("../family/uncut/instrument-serif/InstrumentSerif-Regular.woff2"),
    url("../family/uncut/instrument-serif/InstrumentSerif-Italic.otf"),
    url("../family/uncut/instrument-serif/InstrumentSerif-Italic.ttf"),
    url("../family/uncut/instrument-serif/InstrumentSerif-Italic.woff2");
}

.instrument-serif {
  font-family: "Instrument Serif", serif;
}

@font-face {
  font-family: "Whois";
  src: url("../family/uncut/Whois-mono/whois-mono.ttf"),
    url("../family/uncut/Whois-mono/whois-mono.eot"),
    url("../family/uncut/Whois-mono/whois-mono.woff"),
    url("../family/uncut/Whois-mono/whois-mono.svg");
}

.whois {
  font-family: "Whois", monospace;
}

@font-face {
  font-family: "Saint";
  src: url("../family/uncut/SaintRegular.ttf");
}

.saint-font {
  font-family: "Saint", fantasy;
}

@font-face {
  font-family: "Violet Sans";
  src: url("../family/violet/VioletSans-Regular.otf"),
    url("../family/violet/VioletSans-Regular.ttf"),
    url("../family/violet//VioletSans-Regular.woff"),
    url("../family/violet/VioletSans-Regular.woff2");
}

.VioletSans {
  font-family: "Violet Sans", sans-serif;
}

@font-face {
  font-family: "Good Glyphs";
  src: url("../family/violet/GoodGlyphs-No1.woff");
}

.GoodGlyphs {
  font-family: "Good Glyphs", fantasy;
}

@font-face {
  font-family: "fall";
  src: url("../family/PF/FontBuilder-fall.ttf"),
    url("../family/");
}

.fall {
  font-family: "fall", fantasy;
}

@font-face {
  font-family: "Saintjean";
  src: url("../family/velvetyne/Saintjean-Regular.otf");
}

.Saintjean {
  font-family: "Saintjean", fantasy;
}

@font-face {
  font-family: "Typefesse";
  src: url("../family/velvetyne/Typefesse.otf");
}

.Typefesse {
  font-family: "Typefesse", fantasy;
}

@font-face {
  font-family: "MESS";
  src: url("../family/velvetyne/Mess.otf");
}

.MESS {
  font-family: "MESS", fantasy;
}

@font-face {
  font-family: "kaerukaeru";
  src: url("../family/velvetyne/kaerukaeru-Regular.otf");
}

.kaerukaeru {
  font-family: "kaerukaeru", fantasy;
}

@font-face {
  font-family: "Pilowlava";
  src: url("../family/velvetyne/pilowlava/Pilowlava-Regular.eot"),
    url("../family/velvetyne/pilowlava/Pilowlava-Regular.otf"),
    url("../family/velvetyne/pilowlava/Pilowlava-Regular.woff"),
    url("../family/velvetyne/pilowlava/Pilowlava-Regular.woff2");
}

.pilowlava {
  font-family: "Pilowlava", fantasy;
}

@font-face {
  font-family: "fromages";
  src: url("../family/fd/4fromages/4-Fromages-Regular.otf"),
    url("../family/fd/4fromages/4-Fromages-Regular.woff"),
    url("../family/fd/4fromages/4-Fromages-Regular.woff2");
}

.fromages {
  font-family: "fromages", cursive;
}

@font-face {
  font-family: "credible";
  src: url("../family/fd/credible/Crédible-Regular.otf"),
    url("../family/fd/credible/Crédible-Regular.woff");
}

.credible {
  font-family: "credible", cursive;
}

@font-face {
  font-family: "Quarantype";
  src: url("../family/fd/Quarantype/Quarantype-Regular.otf"),
    url("../family/fd/Quarantype/Quarantype-Oblique.otf");
}

.Quarantype {
  font-family: "Quarantype", fantasy;
}

@font-face {
  font-family: "zara";
  src: url("../family/fd/zara/Zara-Regular.otf"),
    url("../family/fd/zara/Zara-Regular.woff"),
    url("../family/fd/zara/Zara-Oblique.otf"),
    url("../family/fd/zara/Zara-Oblique.woff");
}

.zara {
  font-family: "zara", fantasy;
}

@font-face {
  font-family: "Kevin Wild";
  src: url("../family/dafont/kevinwild.ttf");
}

.kevinwild {
  font-family: "Kevin Wild", cursive;
}

@font-face {
  font-family: "Moody Boys";
  src: url("../family/dafont/Moody_Boys.ttf");
}

.moodyboys {
  font-family: "Moody Boys", cursive;
}

@font-face {
  font-family: "FasType";
  src: url("../family/dafont/fastype.ttf");
}

.FasType {
  font-family: "FasType", cursive;
}

@font-face {
  font-family: "Jabin";
  src: url("../family/fridamedrano/Jabin-Typeface.ttf"),
    url("../family/fridamedrano/Jabin-Typeface.woff2");
}

.Jabin {
  font-family: "Jabin", fantasy;
}

@font-face {
  font-family: "Heritage";
  src: url("../family/schrier/Heritage-Display.otf");
}

.Heritage {
  font-family: "Heritage";
}

@font-face {
  font-family: "JSPRDISPLAY";
  src: url("../family/schrier/JSPRDISPLAY_2021.otf");
}

.JSPRDISPLAY {
  font-family: "JSPRDISPLAY";
}

@font-face {
  font-family: "Wagemut";
  src: url("../family/Wagemut/Wagemut_Regular.otf");
}

.Wagemut {
  font-family: "Wagemut", fantasy;
}

@font-face {
  font-family: "Wagemut_Outline";
  src: url("../family/Wagemut/Wagemut_Outline.otf");
}

.Wagemut_Outline {
  font-family: "Wagemut_Outline", fantasy;
}

@font-face {
  font-family: "Wagemut_Ephemer";
  src: url("../family/Wagemut/Wagemut_Ephemer.otf");
}

.Wagemut_Ephemer {
  font-family: "Wagemut_Ephemer", fantasy;
}

@font-face {
  font-family: "UNKNOWN";
  src: url("../family/Unknown-RND.ttf");
}

.UNKNOWN {
  font-family: "UNKNOWN", fantasy;
}

@font-face {
  font-family: "MIP";
  src: url("../family/MIP/MIP-Regular.woff2"),
    url("../family/MIP/MIP-Regular.woff"),
    url("../family/MIP/MIP-Regular.otf");
}

.MIP {
  font-family: "MIP", fantasy;
}

@font-face {
  font-family: "Grommet";
  src: url("../family/Grommet/Grommet-Light.otf"),
    url("../family/Grommet/Grommet-Regular.otf");
}

.Grommet {
  font-family: "Grommet", fantasy;
}

@font-face {
  font-family: "WAX MELT";
  src: url("../family/WaxMelt/WaxMelt-Regular.otf"),
    url("../family/WaxMelt/WaxMelt-Regular.woff"),
    url("../family/WaxMelt/WaxMelt_EULA.rtf");
}

.melt {
  font-family: "WAX MELT", fantasy;
}

@font-face {
  font-family: 'fira-code-regular';
  src: url('../family/fira-code/fira-code_regular.eot');
  src: url('../family/fira-code/fira-code_regular.eot?#iefix') format('embedded-opentype'),
    url('../family/fira-code/fira-code_regular.woff') format('woff'),
    url('../family/fira-code/fira-code_regular.ttf') format('truetype');
}

.fira-code {
  font-family: "fira-code-regular", monospace;
}

@font-face {
  font-family: 'Source Code Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../family/source-code-pro/WOFF2/VF/SourceCodeVF-Upright.ttf.woff2') format('woff2'),
    url('../family/source-code-pro/WOFF/VF/SourceCodeVF-Upright.ttf.woff') format('woff'),
    url('../family/source-code-pro/VAR/SourceCodeVF-Upright.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Variable';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url('../family/source-code-pro/WOFF2/VF/SourceCodeVF-Italic.ttf.woff2') format('woff2'),
    url('../family/source-code-pro/WOFF/VF/SourceCodeVF-Italic.ttf.woff') format('woff'),
    url('../family/source-code-pro/VAR/SourceCodeVF-Italic.ttf') format('truetype');
}

.source-code-pro {
  font-family: "Source Code Variable", monospace;
}

@font-face {
  font-family: "Space Mono";
  src: url("../family/GFonts/SpaceMono-Regular.ttf");
}

.SpaceMono {
  font-family: "Space Mono", monospace;
}

@font-face {
  font-family: "Xanh Mono";
  src: url("../family/GFonts/XanhMono-Regular.ttf");
}

.XanhMono {
  font-family: "Xanh Mono", monospace;
}

@font-face {
  font-family: "Magyla";
  src: url("../family/berzulis/Ma-gy-la/Berzulis-MAGYLA-Regular.ttf");
}

.Magyla {
  font-family: "Magyla";
}

@font-face {
  font-family: "Pizius";
  src: url("../family/berzulis/Pi-zius/Berzulis-PIZIUS-regular.ttf");
}

.Pizius {
  font-family: "Pizius";
}

@font-face {
  font-family: "Barstukai";
  src: url("../family/berzulis/Bars-tu-kai/Berzulis-BARSTUKAI-Regular.ttf");
}

.Barstukai {
  font-family: "Barstukai";
}

@font-face {
  font-family: "zhal-tees";
  src: url("../family/berzulis/Zhal-tees/ZALTYS-Regular.ttf");
}

.zhal-tees {
  font-family: "zhal-tees";
}

@font-face {
  font-family: "qu-po-l-eh";
  src: url("../family/berzulis/Qu-po-leh/KUPOLE-Regular.ttf");
}

.qu-po-l-eh {
  font-family: "qu-po-l-eh";
}

@font-face {
  font-family: "Frames";
  src: url("../family/nathanlaurent/frames/FramesPartOne-Regular.woff2"),
    url("../family/nathanlaurent/frames/FramesPartOne-Medium.woff2"),
    url("../family/nathanlaurent/frames/FramesPartOne-Light.woff2"),
    url("../family/nathanlaurent/frames/FramesPartOne-Bold.woff2"),
    url("../family/nathanlaurent/frames/FramesPartOne-Regular.woff"),
    url("../family/nathanlaurent/frames/FramesPartOne-Medium.woff"),
    url("../family/nathanlaurent/frames/FramesPartOne-Light.woff"),
    url("../family/nathanlaurent/frames/FramesPartOne-Bold.woff"),
    url("../family/nathanlaurent/frames/FramesPartOne-Regular.eot"),
    url("../family/nathanlaurent/frames/FramesPartOne-Medium.eot"),
    url("../family/nathanlaurent/frames/FramesPartOne-Light.eot"),
    url("../family/nathanlaurent/frames/FramesPartOne-Bold.eot");
}

.Frames {
  font-family: "Frames";
}

@font-face {
  font-family: "Granturismo";
  src: url("../family/nathanlaurent/granturismo/Granturismo-Condensed.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-CondensedItalic.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-Extended.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensed.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensedItalic.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensed.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensedItalic.woff2"),
    url("../family/nathanlaurent/granturismo/Granturismo-Condensed.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-CondensedItalic.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-Extended.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensed.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensedItalic.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensed.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensedItalic.woff"),
    url("../family/nathanlaurent/granturismo/Granturismo-Condensed.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-CondensedItalic.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-Extended.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensed.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-SemiBoldCondensedItalic.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensed.eot"),
    url("../family/nathanlaurent/granturismo/Granturismo-BoldCondensedItalic.eot");
}

.granturismo {
  font-family: "Granturismo";
}

@font-face {
  font-family: "Flexi IBM VGA";
  src: url("../family/int10h/Flexi_IBM_VGA_False.ttf");
}

.Flexi {
  font-family: "Flexi IBM VGA";
}

@font-face {
  font-family: 'S2G';
  src: url('../family/love.ttf');
}

.S2G {
  font-family: "S2G";
}

@font-face {
  font-family: 'CheekFont';
  src: url('../family/CheekFont-Regular.ttf');
}

.CheekFont {
  font-family: "CheekFont";
}
