html {
    font-size: 16px;
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

input[type="radio"] {
    display: none;
}

body,
h1,
h2,
h3,
footer p,
#closeBtn {
    padding: 0;
    margin: 0;
}

header,
#org,
#things,
footer {
    padding: 0.5rem;
    margin: 0;
}

header,
footer,
footer p,
#org {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer p {
  flex: 1 250px;
}

header,
footer,
#org {
    width: 100%;
}

#org {
    position: sticky;
    top: 0;
}

#org input[type="radio"]+label {
    text-transform: uppercase;
    text-decoration: none underline;
}

#org input[type="radio"]:checked+label {
    text-decoration: double underline;
}

#things {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

#things li {
    border: solid #000 1px;
    padding: 0.5rem;
    list-style: none;
    overflow: hidden;
}

#things li:hover {
    cursor: pointer;
}

a {
    color: #fff;
    background: #000;
    display: inline-block;
    font-weight: bolder;
    padding: 0.25rem;
    text-decoration: none;
}

#closeBtn {
    appearance: none;
    background: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 200%;
    font-family: inherit;
    float: right;
}

#moreinfo {
    clear: both;
    width: 100%;
}

.sans-serif,
label[for="sans-serif"] {
    font-family: sans-serif;
}

.serif,
label[for="serif"] {
    font-family: serif;
}

.monospace,
label[for="monospace"] {
    font-family: monospace;
}

.cursive,
label[for="cursive"] {
    font-family: cursive;
}

.fantasy,
label[for="fantasy"] {
    font-family: fantasy;
}

#title {
    font-size: 150%;
}

#things h3 {
    font-size: 125%;
}

#description,
#things p,
#things i {
    font-size: 111%;
}

input[type="radio"]+label,
a {
    font-size: 90%;
}

#things small {
    font-size: 75%;
}

#title,
#things small,
#name small {
    font-style: italic;
}

#description,
#things small {
    font-weight: 500;
}

footer time {
    text-decoration: underline double;
}

#modal {
    width: 75%;
    max-width: 500px;
}
