html {
    font-size: 16px;
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

input[type="radio"],
main ul li.hidden {
    display: none;
}

body,
h3 {
    padding: 0;
    margin: 0;
}

header {
    color: red;;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: calc(100vh - 2.5rem);
    max-height: 100vw;
}

header,
#description,
#things ul {
    padding: 0.5rem;
    margin: 0;
}

#things ul li {
    padding: 0.25rem;
    margin: 0.25rem;
}

#title,
input[type="radio"]+label {
    padding: 0.25rem;
    margin: 0 0.25rem;
}

#org {
    position: sticky;
    top: 0;
    padding: 0.25rem 0.5rem;
    margin: 0 0 1rem;
}

input[type="radio"]+label {
    text-decoration: none underline;
}

input[type="radio"]:checked+label {
    text-decoration: double underline;
}

nav,
#things ul {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="radio"]+label {
    text-transform: uppercase;
}

#title {
    font-size: 200%;
}

#description,
#things ul h3 {
    font-size: 125%;
}

#things ul i {
    font-size: 111%;
}

input[type="radio"]+label,
#things ul p {
    font-size: 100%;
}

#things ul small {
    font-size: 75%;
}

h2 {
    font-weight: 100;
}

#things ul li {
    overflow: hidden;
    list-style: none;
    width: calc(100% - 0.5rem);
}

@media (min-width:550px) {
    #things ul li {
        max-width: calc(100% / 2 - 0.5rem);
    }
}

@media (min-width:750px) {
    #things ul li {
        max-width: calc(100% / 3 - 0.5rem);
    }
}

@media (min-width:1111px) {
    #things ul li {
        max-width: calc(100% / 4 - 0.5rem);
    }
}

.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}